::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 5px hsl(0, 0%, 85%);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, hsl(200, 80%, 60%, 0.4), hsl(200, 80%, 60%, 0.8));
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 60%);
}
